<%- include('./partials/head.ejs') %>

<form class="create-form" action="/sign-in" method="post">
    <input type="text" name="username" id="username" placeholder="username">
    <button type="submit">Log in!</button>
</form>

<%- include('./partials/footer.ejs') %>