.create-form,
.delete-form{
    color: var(--St-Patricks-Blue);
    margin: 0 auto;
    width: 75ch;
}

.delete-form {
    background-color: white;
    padding: 1em 2em;
}
input,
textarea {
    border: solid;
    border-width: 0 0 0 5px;
    border-left-color: white;
    color: inherit;
    font-family: inherit;
    outline:none;
}

input:focus,
textarea:focus {
    border-left-style:dashed;
    border-left-width: 2px;
    border-left-color: var(--Paradise-Pink);
}

input {
    border-bottom-color: var(--Paradise-Pink);
    border-style: solid;
    border-bottom-width: 2px;
    display: block;
    font-size: 2em;
    font-weight: bold;
    padding: 0.2em 1em;
    width: 100%;
}

textarea {
    font-size: 1.5em;
    height: 20em;
    padding: 1em;
    resize: none;
    width: 100%;
}

button {
    background-color: var(--St-Patricks-Blue);
    border: none;
    border-radius: 1ch;
    color: var(--Paradise-Pink);
    font-size: inherit;
    height: 3em;
    margin-top: 1em;
}

button:active {
    background-color: var(--Tiffany-Blue);
}